.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
/* Figures
===============================================*/
.circle {
    position: absolute;
    width: 33%;
    height: 33%;
    background-color: #ee220c;
    border-radius: 50%;
}
.square {
    position: absolute;
    top: 17.5%;
    left: 17.5%;
    width: 66%;
    height: 66%;
    margin: 0 auto;
    background-color: #00a2ff;
}
.rounded-square {
    position: absolute;
    top: 33%;
    left: 33%;
    width: 34%;
    height: 34%;
    background-color: #f8ba00;
    border-radius: 10%;
}
.circle--top-left {
    top: 0;
    left: 0;
}
.circle--top-right {
    top: 0;
    right: 0;
}
.circle--bottom-left {
    bottom: 0;
    left: 0;
}
.circle--bottom-right {
    right: 0;
    bottom: 0;
}
/* Hover effects
===============================================*/
.square:hover {
    z-index: 5;
    background: #ffff00;
}
.circle--top-left:hover {
    z-index: 5;
    background-color: #fc3fff;
}
.circle--top-right:hover {
    z-index: 5;
    background-color: #d3cb1c;
}
.circle--bottom-right:hover {
    z-index: 5;
    background-color: #00ffff;
}
.circle--bottom-left:hover {
    z-index: 5;
    background-color: #8b0000;
}
